.navbar
    button(@click='swapOpen')
        span(v-if='open') &lt;
        span(v-else) &gt;
    button(@click='startGame') Start
    template(v-if='open')
        button(@click='addColumn') Add column
        button(@click='deleteColumn') Delete column
        button(@click='addLine') Add line
        button(@click='deleteLine') Delete line
