#main
    .row(v-for='cellRow in grid.cells')
        .line(v-for='cell in cellRow', :style='[{ width: 100 / cellRow.length + "vw"}, { height: 98 / grid.cells.length + "vh"}, { border: hideBorder ? "none" : "visible" }]')
            CellVue(:cell='cell')
