#setup
    NavbarSetUpVue(@addColumn='addColumn', @deleteColumn='deleteColumn', @addLine='addLine', @deleteLine='deleteLine', @startGame='startGame')
    .row(v-for='cellRow in grid.cells')
        .line(v-for='cell in cellRow', :style='[{ width: 100 / cellRow.length + "vw"}, { height: 98 / grid.cells.length + "vh"}]' @click='switchCell(cell)')
            CellVue(:cell='cell')
